.parent{
    background-color: ghostwhite;
    padding: 0%;
    color: black;
}
header{
    display: grid;
    grid-template-columns: 20% 68% 12%;
    text-align: center;
}
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}
nav ul li a{
    text-decoration: none;
}
.icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin-top: 32px;
    font-size: 35px;
    margin-right: 20px;
}
nav ul li:hover{
    transform: scale(1.1);
}
h4{
    margin: 7% 0%;
    font-size: 40px;
}
.icons:hover{
    transform: scale(1.04);
}
.dNone, .text-danger{
    display: none;
    color: red;
}
h2{
    text-align: center;
}
.polygon{
    text-align: center;
    background-color: orangered;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0 0);
    padding: 0.2em 1em;
}
.wrapper{
    position: absolute;
    border: 2px solid black;
    padding: 20px 30px;
    left: 80%;
    background-color: white;
    text-align: left;
    display: none;
}
.login_form{
    border: 1px solid black;
    text-align: left;
    margin-left: 65%;
    padding: 8%;
}
.registration{
    position: absolute;
    left: 80%;
    background-color: white;
    border: 1px solid black;
    padding: 25px;
    display: none;
}
.register{
    background-color: aquamarine;
    border: 1px solid black;
}
.register:hover{
    transform: scale(1.08);
}
.cancel {
    margin-left: 55%;
    border: 1px solid black;
    background-color: red;
}
.cancel:hover{
    transform: scale(1.08);
}
.banner img{
    width: 100%;
    margin-bottom: 30px;
}
.fa-solid{
    color:orangered;
}
.it{
    color:orangered;
}
button{
    padding: 3%;
    background-color: rgb(249, 40, 25);
    border: 1px solid red;
    margin-bottom: 10px;
}
button:hover{
    transform: scale(1.09);
    background-color: rgb(253, 110, 110);
}
.features, .review, .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    width: 100%;
    width: 100%;
}
.features section:hover, .products section:hover, .categories section:hover, .blogs section:hover, .review section:hover{
    transform: scale(1.01);
}
.products{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    text-align: center;
    width: 100%;
}
.products section span{
    color: orange;
}
.categories{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 40px;
    width: 100%;
}
#login:hover{
    transform: scale(1.1);
}
.review section, .categories section, .products section, .features section, .blogs section{
    border: 1px solid black;
    padding: 4%;
    margin: 8% 8%;
    text-align: center;
    background-color: #ccc;
    outline: 8px solid white;
}
.products section span i{
    line-height: 35px;
}
.review section img{
    border-radius:50%;
    text-align:center;
    width: 100%;
}
.stars{
    color: orangered;
}
.blogs p{
    text-align: left;
}
.blogs section img, .products section img, .categories section img, .features section img{
    width: 100%;
}
.blogs button{
    margin-bottom: 5%;
    text-align: center;
}
.date{
    padding: 5%;
    list-style: none;
    font-size: medium;
}
.user, .calender{
    color: orange;
}
.candy{
    text-align: left;
    margin-left: 40px;
}
.blogs section h3{
    border-top: 2px solid black;
    margin-bottom: 20px;
    text-align: left;
}
footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left:4%;
    line-height: 30px;
}
footer h2{
    text-align: left;
}
.footer_icons i{
    padding: 5px;
    color: orangered;
}
footer :hover{
    scale: (1,1);
}
footer section:nth-child(2){
    list-style: none;
    border: none;
}
footer section:nth-child(3){
    list-style: none;
    border: none;
}
footer li{
    color:orangered;
    margin-left: 15px;
}
footer li span{
    color: black;
}
footer button{
    margin-bottom: 10px;
    margin-top: 10px;
}
.developer{
    font-size: 30px;
    text-align: center;
}
hr{
    border: 1px solid black;
}
.menu{
    display: none;
}
@media screen and (max-width:900px){
    h4{
        font-size: 42px;
    }
    nav ul{
        display: block;
        position: absolute;
        height: 600px;
        right: 0px;
        left: 0px;
        flex-direction: column;
        text-align: Center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        background-color: aqua;
        padding: 20px;
    }
    nav ul li a{
        color: orangered;
        text-decoration: none;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        font-size: xx-large;
    }
    header{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        gap: 0px;
    }
    .menu:hover{
        transform: scale(1.1);
    }
    .icons{
        font-size: xx-large;
        display: grid;
        grid-template-columns: 25% 30% 30%;
        right: 60px;
        margin-top: 0px;
        padding: 0%;
        margin: 0px;
    }
    .features, .products, .categories, .review, .blogs, footer{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    footer, footer h2{
        text-align: center;
    }
    .features section :hover, .products section :hover .categories section :hover, .blogs section :hover, .review section :hover{
        transform: scale(1.05);
    }
}
